body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: green;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

section {
    padding: 30px;
    background: white;
    margin: 20px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}